.calendar__icon {
    width: 2rem;
    height: 2rem;
    color: $primary-blue;
    cursor: pointer;
    margin-right: 1em;
    transition: color 0.2s;
    flex-shrink: 0;

    &--close {
        background: transparent;
        border: none;
        color: $dark-grey;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 0.25em 0.5em;
        border-radius: 50%;
        transition: background 0.2s, color 0.2s;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover,
        &:focus {
            background: $primary-grey;
            color: $primary-red;
            outline: none;
        }
    }
    
    &--prev {
        background: transparent;
        border: none;
        color: $primary-blue;
        padding: 0.25em 0.5em;
        width: 1.5em;
        height: 1.5em;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border-radius: 50%;
        transition: color 0.2s;

        &:hover {
            background: $primary-grey;
            color: darken($primary-blue, 10%);
            outline: none;
        }
    }

    &--next {
        background: transparent;
        border: none;
        color: $primary-blue;
        padding: 0.25em 0.5em;
        width: 1.5em;
        height: 1.5em;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border-radius: 50%;
        transition: color 0.2s;

        &:hover{
            color: darken($primary-blue, 10%);
            outline: none;
        }
    }

    &--home {
        background: none;
        color: $primary-blue;
        width: 2em;
        height: 2em;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border-radius: 50%;
        transition: color 0.2s;

        &:hover {
            color: darken($primary-blue, 10%);
            outline: none;
        }
    }
}