.calendar {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 400px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;

    &__content {

    height: 300px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
    }
}